body {
    font-family: 'Quicksand', Verdana, Arial, sans-serif;
    flex-direciton:column;
}

/*navigation*/
nav > li > a:hover {
    text-decoration: none;
    color: inherit;
}
a:hover{
    color:inherit;
}
a {
    color: inherit;
}


.main-menu{
    margin-left:15%;
}
.main-menu li{
    padding-left:50px;
    padding-right:50px;
    /*font-weight:bold;*/
}
nav li:hover{
     background-color:#eee;
 }
.navbar-custom-top {
   // position: sticky;
    //top: 0px;
    z-index: 10;
    background-color: white;
    border-bottom: 1px solid #dbdbdb;
    margin:0;
    //#dbdbdb;
}
.admin-bar-space{
    top:32px;
}
.icon-bar{
    background-color:black;
}

/*header*/

.header-wrap {
    z-index:-10;
}
.header {
    justify-content:center;
    display:flex;
}
   // margin-bottom:-52px;
}
.header-admin-bar-space{
    margin-bottom:-84px;
}
.header-img {
    min-height: 100vh;
    position: fixed;
    top: 0;
    z-index: -2;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    .header-img {
        transform:translateX(-50%);
        margin:0 auto;

    }
    .header{
        display:unset;
        justify-content:unset;
    }
    .branding-wrapper{
    }
}
.branding-wrapper {
    text-align: left;
    height: 350px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left:0px;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.7));
}
.branding-wrapper-short {
    bottom:unset;
    top:-150px;
}
    
.branding {
    position: absolute;
    left: 35px;
    bottom: 50px;
}
.branding-wrapper-short .branding{
    bottom:30px;
}

.branding-title {
    font-size: 3em;
    font-weight: bold;
    font-family: "Lustria", 'Palatino Linotype', 'Times New Roman', Times, serif;
    color: white;
}
.branding-tagline{
    color:#bebebe;
    font-size:1.5em;
}
.site-content{
    background-color:white;
    padding-top:50px;
    padding-bottom:150px;
    min-height:100vh;

}

.header-space {
    margin-top: calc(100vh);
}
.header-space-short {
    margin-top: 200px;
}
.header-admin-bar-space{
    padding-top:-30px;
}
.fa {
    width: 50px;
    text-align: center;
}
/* post list*/
.grid{
    margin: 0 auto;
}
.grid-item{
    //width:25%;
    z-index:0;
    padding:15px;
    width:450px;
}
.post-image{
    padding:15px;
}
p{
    margin:auto;
}

.post-text{
    padding:0px 30px 10px 30px;
    margin:0px 15px 0px 15px;
    font-size:1.4em;
}

.post-text-single {
    margin-left: 15%;
    margin-right: 15%;
    margin-top:50px;
}

.post-single {
    max-width: 1200px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
}
/*pagination*/
.pagination{
    min-width:500px;
}
.pagination-wrapper{
    display:flex;
    justify-content:center;
}
/*footer*/
.footer {
    background-color: white;
    border-top: 1px solid #dbdbdb;
    padding: 50px 15px 30px 15px;
}
.pagination div{
    text-align:center;
    margin: 10px 0px 10px 0px;
}


.footer-element {

}
.notice{
    font-size:0.9em;
    margin:0 auto;
    padding-bottom:20px;
    display:flex;
    justify-content:center;
}
/*pages*/
.page-title{

}
.page-content {
    font-size: 1.2em;

}
.page-content > p{
    margin:0px 0px 10px 0px;
}
.page-wrapper {
    display: flex; /* opt into the new box model */
    justify-content: center; /* "align" */
    padding-top:170px;
}
.another-fucking-page-wrapper{
    width:80%;
}
.wrapper-content{

}

/*all media queries*/
@media (min-width:1600px) {

    .wrapper-content {
        max-width: 85%;
    }
}

/* this fixes a thing that apparently navbar breaks*/
@media (min-width: 768px) {
    .navbar {
        border-radius: unset;
    }
    .branding {
        left: 150px;
    }

}

@media (max-width:767px) {

    .navbar ul {
        margin-left: 15%;
    }

    .navbar li {
        padding-left: 50px;
    }

    .footer {
        display: flex;
        justify-content: center;
    }
}
@media screen and (min-width: 992px) {
    .footer-menu {
        text-align: right;
    }
}
@media screen and (max-width: 991px) {
    .footer-element {
        text-align: center;
    }

}
